body {
	background-color: black;
	background-image: url("https://i.imgur.com/ksRPfI7.png");
	backdrop-filter: brightness(100%);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	color: white;
	margin: 0px 0px 0px 0px;
	height: 100%;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

html {
	height: 100%;
}

@keyframes albumanimation {
	0% {
		transform: perspective(700px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	50% {
		transform: perspective(700px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
	}
	100% {
		transform: perspective(700px) rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
	}
}

@keyframes album_fadeout {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}

@keyframes album_fadein {
	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

@keyframes bg_fadeout {
	from {
		backdrop-filter: brightness(100%);
	}
	to {
		backdrop-filter: brightness(50%);
	}
}

@keyframes bg_fadein {
	from {
		backdrop-filter: brightness(50%);
	}
	to {
		backdrop-filter: brightness(100%);
	}
}

@keyframes bg_crossfade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes start_fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#player {
	display: none;
}

#thecontainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#containerbg {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("https://i.imgur.com/ksRPfI7.png");
	z-index: -1;
	opacity: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

#startcontainer {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	z-index: 20;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
}

#startstatus {
	text-align: center;
	flex: auto;
	align-content: center;
}

#header {
	flex: 0 1 auto;
}

#album {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
    align-content: center;
    align-items: center;
}

#album_art {
	transform: scaleY(0);
	width: 40vmin;
  	/*animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;*/
}

#controls {
	background-color: rgba(0,0,0,0.5);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	/*flex: 0 1 auto;*/
	display: flex;
	align-items: center;
	font-size: 1.25em;
	justify-content: center;
  	/*align-items: center;*/
	/*position:fixed;
	bottom:0;*/
}

.control_button {
	font-size: 1.2em;
	padding: 2px 2px 2px 2px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	color: #555555;
}
.control_button:hover {
	font-size: 1.2em;
	background-color: rgba(100,100,100,0.5);
}

.settings_button {
	padding: 2px 2px 2px 2px;
	background-color: rgba(75,75,75,0.5);
	border: none;
	color: #dddddd;
}

.settings_button:hover {
	background-color: rgba(150,150,150,0.5);
	color: #ffffff;
}

#status, .control_button {
	flex-grow: 0;
	white-space: nowrap;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#status {
	margin-right: .5em;
}

#ticker {
	width: 100%;
	flex-grow: 1;
	overflow-x: scroll;
	white-space: nowrap;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#ticker::-webkit-scrollbar {
	display: none; /* Chrome and Safari */
	
}
#status::-webkit-scrollbar {
	display: none; /* Chrome and Safari */
}

#menu {
	text-align: center;
	display: flex;
	overflow-y: scroll;
	flex: 1 1 auto;
	justify-content: center;
    align-content: center;
    align-items: center;
}

.radiolist_albums {
	width: 8em;
}

.radiolist_album_div {
	display: inline-block;
	margin: 0.1em;
	transform: scaleY(0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.05); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.25); 
}

hr {
	border-color: rgba(255,255,255,0.1);
	margin-left: 110px;
	margin-right: 100px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

#settings_menu {
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.form_input {
	background-color: #222222;
	outline: none;
	border-color: #444444;
	color: #dddddd;
}
.form_input:focus {
	border-color: #aaaaaa;
}

.extra_control {
	display: none;
}